<!-- COMPONENT : sample-component -->
<style>
.sample-component { margin-top: 60px; padding: 10px 20px; }
</style>
<div class="sample-component">
    Sample Component Title
    <div data-component="sample-component"></div>
    <div data-component="sample-component"></div>
</div>