<!-- Component : Footer -->
<style>
.footer-wrapper { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #dedede; padding: 0 48px; margin-top: 60px;}
.footer { max-width: 1300px; margin: 0 auto; height: auto; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-top: 26px;}
.footer .footer-sub-text { font-family: 'Work Sans', sans-serif; padding-top: 16px; font-size: 10px; padding-bottom: 12px;}
.footer .footer-links-wrapper { border-top: 1px solid #ccc; padding: 0 10px;}
.footer .footer-links-wrapper > .footer-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none; padding: 12px 0 60px;}
.footer .footer-links-wrapper > .footer-links > li { display: inline-block; line-height: 24px; margin: 0 12px; font-size: 12px; font-family: 'Work Sans', sans-serif; text-align: center;}
.footer .footer-links-wrapper > .footer-links > li > a { text-decoration: none; color: #181716;}

@media screen and (max-width: 480px) {
    .footer .footer-links-wrapper > .footer-links { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
}
</style>

<footer class="footer-wrapper">
    <div class="footer">
        <div class="footer-logo">
            <a href="https://www.forbes.com/" target="_self">
                <svg class="fs-icon fs-icon--forbes-logo" style="fill: #181715;height: 42px;width: 118px;margin-top: 0px;" viewBox="0 0 200 54">
                    <path d="M113.3 18.2c0-5.8.1-11.2.4-16.2L98.4 4.9v1.4l1.5.2c1.1.1 1.8.5 2.2 1.1.4.7.7 1.7.9 3.2.2 2.9.4 9.5.3 19.9 0 10.3-.1 16.8-.3 19.3 5.5 1.2 9.8 1.7 13 1.7 6 0 10.7-1.7 14.1-5.2 3.4-3.4 5.2-8.2 5.2-14.1 0-4.7-1.3-8.6-3.9-11.7-2.6-3.1-5.9-4.6-9.8-4.6-2.6 0-5.3.7-8.3 2.1zm.3 30.8c-.2-3.2-.4-12.8-.4-28.5.9-.3 2.1-.5 3.6-.5 2.4 0 4.3 1.2 5.7 3.7 1.4 2.5 2.1 5.5 2.1 9.3 0 4.7-.8 8.5-2.4 11.7-1.6 3.1-3.6 4.7-6.1 4.7-.8-.2-1.6-.3-2.5-.4zM41 3H1v2l2.1.2c1.6.3 2.7.9 3.4 1.8.7 1 1.1 2.6 1.2 4.8.8 10.8.8 20.9 0 30.2-.2 2.2-.6 3.8-1.2 4.8-.7 1-1.8 1.6-3.4 1.8l-2.1.3v2h25.8v-2l-2.7-.2c-1.6-.2-2.7-.9-3.4-1.8-.7-1-1.1-2.6-1.2-4.8-.3-4-.5-8.6-.5-13.7l5.4.1c2.9.1 4.9 2.3 5.9 6.7h2V18.9h-2c-1 4.3-2.9 6.5-5.9 6.6l-5.4.1c0-9 .2-15.4.5-19.3h7.9c5.6 0 9.4 3.6 11.6 10.8l2.4-.7L41 3zm-4.7 30.8c0 5.2 1.5 9.5 4.4 12.9 2.9 3.4 7.2 5 12.6 5s9.8-1.7 13-5.2c3.2-3.4 4.7-7.7 4.7-12.9s-1.5-9.5-4.4-12.9c-2.9-3.4-7.2-5-12.6-5s-9.8 1.7-13 5.2c-3.2 3.4-4.7 7.7-4.7 12.9zm22.3-11.4c1.2 2.9 1.7 6.7 1.7 11.3 0 10.6-2.2 15.8-6.5 15.8-2.2 0-3.9-1.5-5.1-4.5-1.2-3-1.7-6.8-1.7-11.3C47 23.2 49.2 18 53.5 18c2.2-.1 3.9 1.4 5.1 4.4zm84.5 24.3c3.3 3.3 7.5 5 12.5 5 3.1 0 5.8-.6 8.2-1.9 2.4-1.2 4.3-2.7 5.6-4.5l-1-1.2c-2.2 1.7-4.7 2.5-7.6 2.5-4 0-7.1-1.3-9.2-4-2.2-2.7-3.2-6.1-3-10.5H170c0-4.8-1.2-8.7-3.7-11.8-2.5-3-6-4.5-10.5-4.5-5.6 0-9.9 1.8-13 5.3-3.1 3.5-4.6 7.8-4.6 12.9 0 5.2 1.6 9.4 4.9 12.7zm7.4-25.1c1.1-2.4 2.5-3.6 4.4-3.6 3 0 4.5 3.8 4.5 11.5l-10.6.2c.1-3 .6-5.7 1.7-8.1zm46.4-4c-2.7-1.2-6.1-1.9-10.2-1.9-4.2 0-7.5 1.1-10 3.2s-3.8 4.7-3.8 7.8c0 2.7.8 4.8 2.3 6.3 1.5 1.5 3.9 2.8 7 3.9 2.8 1 4.8 2 5.8 2.9 1 1 1.6 2.1 1.6 3.6 0 1.4-.5 2.7-1.6 3.7-1 1.1-2.4 1.6-4.2 1.6-4.4 0-7.7-3.2-10-9.6l-1.7.5.4 10c3.6 1.4 7.6 2.1 12 2.1 4.6 0 8.1-1 10.7-3.1 2.6-2 3.9-4.9 3.9-8.5 0-2.4-.6-4.4-1.9-5.9-1.3-1.5-3.4-2.8-6.4-4-3.3-1.2-5.6-2.3-6.8-3.3-1.2-1-1.8-2.2-1.8-3.7s.4-2.7 1.3-3.7 2-1.4 3.4-1.4c4 0 6.9 2.9 8.7 8.6l1.7-.5-.4-8.6zm-96.2-.9c-1.4-.7-2.9-1-4.6-1-1.7 0-3.4.7-5.3 2.1-1.9 1.4-3.3 3.3-4.4 5.9l.1-8-15.2 3v1.4l1.5.1c1.9.2 3 1.7 3.2 4.4.6 6.2.6 12.8 0 19.8-.2 2.7-1.3 4.1-3.2 4.4l-1.5.2v1.9h21.2V49l-2.7-.2c-1.9-.2-3-1.7-3.2-4.4-.6-5.8-.7-12-.2-18.4.6-1 1.9-1.6 3.9-1.8 2-.2 4.3.4 6.7 1.8l3.7-9.3z">
                    </path>
                </svg>
            </a>
        </div>
        <div class="footer-sub-text">© 2019 Forbes Media LLC. All Rights Reserved.</div>
        <div class="footer-links-wrapper">
            <ul class="footer-links">
                <li><a href="https://preferences-mgr.truste.com/?pid=forbes01&amp;aid=forbes_mobile01" target="_blank">AdChoices</a></li>
                <li><a href="//www.forbes.com/fdc/privacy.html" target="_self">Privacy Statement</a></li>
                <li><a href="//www.forbes.com/terms" target="_self">Terms and Conditions</a></li>
                <li><a href="//www.forbes.com/fdc/contact.html" target="_self">Contact Us</a></li>
                <li><a href="mailto:feedback@forbes.com">Send Us Feedback</a></li>
                <li><a href="//www.forbes.com/sites/careers-at-forbes/" target="_self">Jobs At Forbes</a></li>
                <li><a href="http://forbesreprints.magreprints.com/" target="_blank">Reprints &amp; Permissions</a>
                </li>
                <li><a href="//www.forbes.com/sites/forbespr/" target="_self">Forbes Press Room</a></li>
                <li><a href="//www.forbes.com/quotes/" target="_self">Forbes Quote of the Day</a></li>
                <li><a href="http://www.forbesmedia.com/" target="_blank">Advertise</a></li>
            </ul>
        </div>
    </div>
</footer>